h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(165, 42, 42, 0.625);
    font-size: 40px;
}

#odin {
    font-size: 50px;
    color: brown;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 500px;
    height: auto;
}

.desc {
    background-color: antiquewhite;
    width: 50%;
}

h2 {
    color: rgb(152, 86, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



